@{
    ViewData["Title"] = "Home Page";
}

<div style="margin: 50px 500px;">
    <picture>
        <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f63c/512.webp" type="image/webp">
        <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f63c/512.gif" alt="😼" width="105" height="105">
    </picture>
</div>

<div class="text-center" style="margin: auto;">
    <h1 class="display-4" style="font-size: 3.4rem;">Welcome to Two Factor Authentication Page!</h1>

    <div style="margin-top:40px;">
        <h1 class="display-4" style="font-size: 3.1rem;">-Manish Sahani</h1>
        <picture>
                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f604/512.webp" type="image/webp">
                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f604/512.gif" alt="😄" width=60" height=60">
        </picture>
        <picture>
            <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f929/512.webp" type="image/webp">
            <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f929/512.gif" alt="🤩" width="65" height=65">
        </picture>
        <picture>
            <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f609/512.webp" type="image/webp">
            <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f609/512.gif" alt="😉" width=60" height=60">
        </picture>
    </div>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
