@{
    ViewData["Title"] = "Privacy Policy - Manish Sahani";
}
<h1>@ViewData["Title"]</h1>

<div style="margin: 100px 500px;">
    <picture>
        <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f63c/512.webp" type="image/webp">
        <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f63c/512.gif" alt="😼" width="150" height="150">
    </picture>
</div>

<div style="text-align: center;">
    <p>Manish Sahani owns this page, so there is no privacy policy 😏😂</p>
</div>



